<h1><%= @user.email %></h1>
<h1><%= @user.admin %></h1>
<h1><%= @user.first_name %></h1>
<h1><%= @user.last_name %></h1>

<%= cl_image_tag @user.photo.key %>

<%= link_to 'Edit Profile', edit_user_path(@user), class:'btn btn-primary' %>
<%= link_to 'Change Password/Delete Account', edit_user_registration_path(@user), class:'btn btn-primary' %>
<% if current_user.admin %>
  <%= link_to "All Users", users_path %>
<% end %>
