<div class="container alumnus d-lg-flex">
  <div class="alumnus-info-card pb-3">
    <div class="alumnus-info-card-header">
      <%= link_to edit_user_path(@user), class:'alumnus-edit' do %>
        <i class="far fa-edit"></i>
      <% end %>
      <%= cl_image_tag @user.photo.key, class: 'rounded-circle alumnus-avatar' %>
      <br>
      <h1 class="mb-0"><%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %></h1>
      <h4 class="mt-2 mb-0"><%= @user.email %></h4>
      <img class="header-background" src="https://d26jy9fbi4q9wx.cloudfront.net/assets/alumni-bg-256121dc263a7c2657d1bf8fd1e6216b3fff9a34b4b99641d8b78338a1751b6e.svg">
    </div>
    <div class="alumnus-info-card-content">
      <hr>
      <h4>Address</h4>
      <%= @user.adress %>
      <br>
      <%= @user.city %>
      <%= @user.state %>,
      <%= @user.zip %>
      <hr>
      <h4>About Me</h4>
      <%= @user.birthday %>
      <br>
      <%= @user.gender %>
      <br>
      <%= @user.phone %>
      <% if current_user.admin %>
        <%= link_to "All Users", users_path %>
      <% end %>
    </div>
  </div>
  <div class="alumnus-panel">
    <div class="alumnus-panel-content">
      <div class="d-flex justify-content-between align-items-center">
        <h3 class="mt-2">Membership Status</h3>
      </div>
      <div class="alumnus-experiences">
        <p>my membership</p>
      </div>
      <hr>
      <div class="d-flex justify-content-between align-items-center">
        <h3 class="mt-2">Upcoming Classes</h3>
      </div>
      <div class="alumnus-experiences">
        <p>my classes</p>
      </div>
      <hr>
      <div class="d-flex justify-content-between align-items-center">
        <h3 class="mt-2">Previous Orders</h3>
      </div>
      <div class="alumnus-experiences">
        <p>my orders</p>
      </div>
    </div>
  </div>
</div>
