<!DOCTYPE html>
<html>
  <head>
    <title>Tonys Gym</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= favicon_link_tag asset_path("https://tonys-gym.square.site/uploads/b/105d58e0-4a6b-11e9-a2ed-91e638bc6c90/8969B1FE-160D-4A18-BAD5-8488EB486B77.jpeg") %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
